.certificates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px; 
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certificates p{
    width: 100%;
    margin-top: 10px;
}

.certificates img{
    flex: 1 2 100px; 
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certificates h3{
    display: flex;
    justify-content: center;
    align-items: center;

}



.certificate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px; 
    max-width: 500px; 
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(182, 182, 182, 0.235);
}

.cert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px
    ;
}
