.certificates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px; 
    max-width: 500px; 
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    
}

.certificates p{
    width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    align-items: start;
}

.certificates img{
    flex: 1 2 100px; 
    max-width: 450px; 
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.certificates h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .certificates img, p, h3 {
        max-width: 70%; 
    }
}

@media (max-width: 480px) {
    .certificates img, p, h3 {
        max-width: 90%; 
    }
}

.cert-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
