
.footer-container {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    font-family: 'Bungee Tint';
   flex-shrink: 1;
  }

  .footer{
    margin: 10px;
    display: flex;
  }

  .logos{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.symbols{
    width: 2em;
}


