@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap");

html, body{
  margin: 0;
  padding: 0;
}

.main-title{
    font-family: 'Bungee Tint';
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title h1{
  font-size: 2.4em;
}


h2{
  font-family: 'Bungee Tint';
}


#certificate {
  width: 50%;
}

.image{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}

.image:hover{
    transform: translateY(-5px); /* Moves the card up slightly */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increases shadow */
    background-color: #f9f9f9; /* Optional: Changes background color */
}

/* Wrapper for multiple ProjectCards */
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.nav-item{
  font-family: 'Bungee Tint';

}

.nav-bar-container{
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}










 