/* Each project card shown on projects list */
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px; 
    max-width: 500px; 
    border: 1px solid #ddd;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: rgba(182, 182, 182, 0.235);
}

.card-container h3{
    color: rgb(180, 14, 14);
}

.card-container h2{
    margin-top: 20px;
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding: 30px;

}

/* Heading styling */
.page-container h2 {
    font-size: 2rem;
    margin: 10px;
}

.profile-container p{
    color: grey;
    font-size: 1rem;
    max-width: 600px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .page-container {
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .project-image {
        max-width: 200px; /* Smaller profile picture on mobile */
    }
}

/* Main content wrapper */
.container {
    max-width: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  
}

.container h2{
    justify-content: center;
    align-items: center;
}

/* Profile picture styling */
.project-image {
    width: 100%;
    max-width: 300px;
    height: auto; 
    border-radius: 25%; 
    object-fit: cover; 
}
/* profile picture, job title and links */

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}

.app-header, .description{
    display: flex;
    flex-direction: column;
}

.logos-container{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 100%;
    margin: 10px;
    padding-right: 10px;

}

.logo{
    width: 2em;
}

.app-image{
    width: 50%;
}







